*{
    margin: 0px;
    padding: 0px;
}

#wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}

#header{
    min-height: 150px;
    background-color: green;
    margin: 15px;
    position: relative;
    top: 15px;

}

#navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin: 15px;
}

#main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    position: relative;
    margin: 15px 0px;
}

.subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin-top: 8px;
    margin-left: 15px;
}

#advertisement{
    min-height: 120px;
    width: 670px;
    background-color: purple;
    position: absolute;
    bottom: 42px;
    left: 15px;
}