*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #3d5a80;
    padding: 15px;
}

.nav{
    background-color: red;
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.nav h1{
    color: rgb(211, 211, 211);
    padding: 13px;
}

.aside{
    display: inline-block;
    border-radius: 10px;
    background-color: hsl(187, 67%, 35%);
    width: 14vw;
    vertical-align: top;
    padding: 15px;
}

.aside > a:link{
    color: #21c6db;
}

.aside ul li{
    margin-left: 15px;
    color: white
}

.aside ul li a:link{
    color: #21c6db;
}

.aside ul li a:visited{
    color: #21c6db;
}

.main-content{
    background-color: #293241;
    display: inline-block;
    width: 79%;
    margin-left: 25px;
    border-radius: 10px;
    padding: 18px;
    margin-bottom: 15px;
}

.main-content ul li{
    margin-left: 15px;
    margin-top: 10px;
}

.main-content{
    color: white;
}

.main-content h2{
    margin-bottom: 15px;
}

.main-content ul li a:link{
    color: #21c6db;
}

.main-content ul li span{
    color: #6a00f4
}

.footer{
    background-color: grey;
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: -5px;
    height: 45px;
    border-radius: 10px;
}

.footer p{
    color: white;
    padding: 10px;
}

.footer p a{
    color: #21c6db;
}
